Name : 게임의 이름입니다.
Platform : 게임이 지원되는 플랫폼의 이름입니다.
Year : 게임이 출시된 연도입니다.
Genre : 게임의 장르입니다.
Publisher : 게임을 제작한 회사입니다.
NA_Sales : 북미지역에서의 출고량입니다.
EU_Sales : 유럽지역에서의 출고량입니다.
JP_Sales : 일본지역에서의 출고량입니다.
Other_Sales : 기타지역에서의 출고량입니다.

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/vgames2.csv')
df = df.fillna(0) #결측치 대체
df.isnull().sum() #결측치 확인

#df1['NA_Sales'].str.contains('K')
#k = df1.loc[df1['NA_Sales'].str.contains('K'),'NA_Sales'] #따로 K 추출
#m = df1.loc[df1['NA_Sales'].str.contains('M'),'NA_Sales'] #따로 M 추출
#k = k.apply(xx) #K 제거 후 1000 나눔
#m = m.apply(yy) #M 제거

def xx(a):  #함수 작성
  if 'K' in a:  #K가 a안에 있으면
    a = a.replace('K','') #K를 제거
    return float(a) / 1000 #a를 부동소수점으로 타입 변경 후 1000으로 나눈다 
  elif 'M' in a:  #M이 a안에 있으면
    a = a.replace('M','') #a에 M제거
    return float(a)       #a 타입 부동소수점으로 변경
  else: 
    return float(a)  #다른 것들은 그냥 그 값 출력

df['NA_Sales'] = df['NA_Sales'].apply(xx) #함수적용
df['EU_Sales'] = df['EU_Sales'].apply(xx) #함수적용
df['JP_Sales'] = df['JP_Sales'].apply(xx) #함수적용
df['Other_Sales'] = df['Other_Sales'].apply(xx) #함수적용
df

       Unnamed: 0  ... Other_Sales
0               1  ...        0.00
1               2  ...        0.01
2               3  ...        0.00
3               4  ...        0.00
4               5  ...        0.04
...           ...  ...         ...
16593       16594  ...        0.01
16594       16595  ...        0.00
16595       16596  ...        0.13
16596       16597  ...        0.03
16597       16598  ...        0.01

[16598 rows x 10 columns]

In [22]:
df1 = df[['Genre','NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
df1.dtypes
df1.groupby('Genre').sum()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
0                20.61     13.12     12.88         5.54
Action          874.81    522.16    157.90       186.45
Adventure       105.66     64.05     51.95        16.81
Fighting        223.20    101.22     87.34        36.64
Misc            408.05    212.36    105.27        74.04
Platform        446.44    201.61    130.65        51.53
Puzzle          123.35     50.73     56.87        12.52
Racing          357.19    237.10     56.40        77.10
Role-Playing    319.54    183.58    344.95        56.96
Shooter         581.92    313.05     38.28       102.65
Simulation      182.96    113.35     63.70        31.48
Sports          680.52    376.48    135.37       134.67
Strategy         68.70     45.32     49.46        11.36

In [24]:
def yy(b) : #날짜 함수 작성
  if b < 22 :
    return b + 2000
  elif 22 < b < 100:
    return b + 1900
  else :
    return b
df['Year'] = df['Year'].apply(yy) #날짜 함수 적용
df2 = df[['Year','Genre','NA_Sales','EU_Sales','JP_Sales','Other_Sales']] #데이터 프레임 새로 생성
df2 #출력
df2['Year'].describe() #최대 최소 확인

df2.groupby(['Year']).sum()

        NA_Sales  EU_Sales  JP_Sales  Other_Sales
Year
1980.0     10.59      0.67      0.00         0.12
1981.0     33.40      1.96      0.00         0.32
1982.0     26.92      1.65      0.00         0.31
1983.0      7.76      0.80      8.10         0.14
1984.0     33.28      2.10     14.27         0.70
1985.0     33.73      4.74     14.56         0.92
1986.0     12.50      2.84     19.81         1.93
1987.0      8.46      1.41     11.63         0.20
1988.0     23.87      6.59     15.76         0.99
1989.0     45.15      8.44     18.36         1.50
1990.0     25.46      7.63     14.88         1.40
1991.0     12.76      3.95     14.78         0.74
1992.0     33.87     11.71     28.91         1.65
1993.0     15.12      4.65     25.33         0.89
1994.0     28.15     14.88     33.99         2.20
1995.0     24.82     14.90     45.75         2.64
1996.0     86.76     47.26     57.44         7.69
1997.0     94.75     48.32     48.87         9.13
1998.0    128.36     66.90     50.04        11.03
1999.0    126.06     62.67     52.34        10.05
2000.0    154.01     77.76     49.49        20.36
2001.0    173.98     94.89     39.86        22.76
2002.0    216.19    109.74     41.76        27.28
2003.0    193.59    103.81     34.20        26.01
2004.0    222.59    107.32     41.65        47.29
2005.0    242.61    121.94     54.28        40.58
2006.0    263.12    129.24     73.73        54.43
2007.0    312.05    160.50     60.29        77.60
2008.0    351.44    184.40     60.26        82.39
2009.0    338.85    191.59     61.89        74.77
2010.0    304.24    176.73     59.49        59.90
2011.0    241.06    167.44     53.04        54.39
2012.0    154.96    118.78     51.74        37.82
2013.0    154.77    125.80     47.59        39.82
2014.0    131.97    125.65     39.46        40.02
2015.0    102.82     97.71     33.72        30.01
2016.0     22.66     26.76     13.70         7.75
2017.0      0.00      0.00      0.05         0.00
2020.0      0.27      0.00      0.00         0.02